
body{
	display:flex;
	justify-content:center;
	margin-top: 20px;

}

#container
{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url("background.jpg");
	background-position: center;
	background-repeat: no-repeat;
<<<<<<< HEAD
	/*min-width:600px;*/
	


=======
	min-width:730px;
	max-width: 1070px;
	border: inset silver 10px;
>>>>>>> parent of 07dd2d1... fixing min-width of container

	
}



#info

{
	display: flex;
	flex-direction: row;
	justify-content: center;
	

	padding: 20px 20px 0px 20px;
}

.col
{
	font-weight:bolder;
	margin: 10px;

}

#MainTitle
{
/*	border-bottom: darkgrey solid 4px;
	border-right: darkgrey solid 4px;*/

	padding-bottom: 10px;
	padding-top: 20px;
		padding-left:20px;
	text-align: center;
	font-family: 'Nosifer', cursive;
	font-size: 40px;


}

#graphic
{	
	display: flex;
	
	align-items: center;
	justify-content: center;
	


}

#graphic:hover > #FireCircle
{
	opacity:1;
	transition-duration: 3s;
}
#rollingfireball
{
	height: 150px;
	width: 150px;

	top:10px;
	transition-property: scale();
	transition-duration: 2s;

}
#rollingfireball:hover
{
	transform: scale(1.2);
	transition-duration: 2s;
}
#FireCircle
{	opacity: 0;

	transition-property: opacity;
	transition-duration: 2s;
	position: relative;
}
#tellmemore
{
	height: 30px;
	position: relative;
	
	top:10px;
	transition-property: scale();
	transition-duration: 2s;
}

#tellmemore:hover
{
	transform: scale(1.2);
	transition-duration: 2s;
}
#closer
{
<<<<<<< HEAD
	padding: 20px 20px 0px 20px;
=======
	padding: 20px 400px 0px 20px;
>>>>>>> parent of 07dd2d1... fixing min-width of container
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	font-family: 'Creepster', cursive;
	font-size: 20px;
	

}
p
{
	text-align: center;
}






